<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Best Restaurants in Town</title>
    </head>
    <body>
        <div class="container">
            <h1>{{ cuisine.getCuisineType }}</h1>
            {% if restaurants is not empty%}
                <p>Here are your options:</p>
                <ul>
                    {% for restaurant in restaurants %}
                        <li>{{restaurant.getRestaurantName}}
                            <ul>
                                <li>{{restaurant.getRestaurantDescription}} </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nothing to See. Add something!</p>
            {% endif %}

            <h3> Add a Restaurant:</h3>

            <form action="/restaurants" method="post">
                <input type="hidden" name="cuisine_id" value="{{ cuisine.getId }}">

                <div class="form-group">
                    <label for="new_restaurant">Restaurant Name:</label>
                    <input type="text" name="new_restaurant">
                </div>
                <div class="form-group">
                    <label for="new_description">Description of Restaurant:</label>
                    <textarea name="new_description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Restaurant</button>
            </form>

            <p><a href="/cuisine/{{cuisine.getId}}/edit">Edit this Cuisine</a></p>


            <p><a href="/">Home</a></p>

        </div>
    </body>
</html>
